@import "~bootstrap-icons/font/bootstrap-icons.css";

table {
    margin: auto;
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    cursor: default;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 
    0.09) 0px -3px 5px;
}

/* .schedules {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 
    0.09) 0px -3px 5px;
    border-radius: 10px;
} */

button {
    background-color: black;
    color: #26890d;
    border: 1px solid black;
    height: 30px;
    margin-right: 5px;
    border-radius: 5px;
}

th {
    background-color: black;
    color: #26890d;
    text-align: center;
    height: 20px;
    border: none;
}

td {
    text-align: right;
    height: 75px;
}

/* .table tr:first-child th:first-child {
    border-top-left-radius: 10px;
    border-left: none;
}

.table tr:first-child th:last-child {
    border-top-right-radius: 10px;
    border-right: none;
}

.table tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
    border-left: none;
    border-bottom: none;
}

.table tr:last-child {
    border-bottom: none;
}

.table tr:first-child {
    border-top: none;
}

.table tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
    border-right: none;
    border-bottom: none;
}

.table tr:last-child div:last-child {
    border-bottom-right-radius: 10px;
} */

.header {
    display: flex;
    justify-content: space-between;
    margin: 2% 0;
}

.arrows {
    float: right;
}

.month {
    font-size: 25px;
}

.date {
    height: 50%;
    width: 100%;
    font-size: 12px;
}

.shift {
    height: 50%;
    text-align: center;
    font-size: 10px;
    padding: 5px;
    border: 1px solid grey;
    border-radius: 2px;
}

.O-shift {
    background-color: rgb(255, 255, 255);
}

.A-shift {
    background-color:rgb(184, 228, 199);
    /* border-top-left-radius: 30%;
    border-bottom-left-radius: 30%; */
}

.B-shift {
    background-color: rgb(240, 213, 156);
}

.C-shift {
    background-color: rgb(235, 166, 198)
}

.M-shift {
    background-color: rgb(207, 181, 158);
    /* border-top-left-radius: 10%;
    border-bottom-left-radius: 10%; */
}

.E-shift {
    background-color: rgb(196, 194, 190);
}

.I-shift {
    background-color: rgb(161, 186, 223);
}

.L-shift {
    color:red;
    background-color: rgb(255, 255, 255);
    font-style: italic;
}

.-shift {
    border: none !important;
}

.disabled {
    background-color: rgb(235, 235, 228);
    color: gray;
    border: 1px solid white;
}

