<html>
  <head>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

</head>
<body>
  



<div class="row">
    <div class="col-md-4" >
      <div class="card card-user" style="background-color: black;" >
        <div class="image">
          <img src="assets/img/damir-bosnjak.jpg" alt="...">
        </div>
        <div class="card-body">
          <div class="author">
            
              <img class="avatar border-gray" src="https://cdn-icons-png.flaticon.com/512/145/145843.png" alt="...">
              
              <h5 class="title" style="margin-bottom: 12px; color:aqua;">Sumit Thakur <button class="fa fa-pencil" (click)="open(EditEmployeeDetail)"></button></h5>
              
         
              <div class="row">
                <div class="col-lg-12 col-md-6">
                    <p class="description" style=" font-weight: bold; color:white;position:relative">
                        Principal Infrastructure Engineer
                      </p>
                </div>


                
                <div class="col-lg-6 col-md-6"  >
                    <p class="description"  style="color:white;">
                        &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; <i class="fa fa-paper-plane" style="font-size:15px;color: #55f32d; "></i>&nbsp;&nbsp;  Beginner
                       </p>
                </div>
                <div class="col-lg-6 col-md-6" >
                    <p class="description" style=" text-align: left;color:white; ">
                        &nbsp; &nbsp;&nbsp; &nbsp;<i class="fa fa-line-chart" style="font-size:15px;color: #55f32d; "></i>&nbsp;&nbsp; L05
                       </p>
                </div>
              </div>  
            
          </div>

          <!-- <div class="col-lg-6 col-md-6 col-6 ml-auto mr-auto">
            <h5>2GB
              <br>
              <small>Used</small>
            </h5>
          </div> -->

          <hr style="width:50%; margin-left:25% !important; margin-right:25% ; background-color: azure;" />
          <div class="row">

            <div class="col-lg-12 col-md-6 col-6 ml-auto" style="text-align: center;">
             <p class="description" style="margin-bottom: 5px; color:white;"><i class="fa fa-envelope" style="font-size:15px;color: #55f32d;"></i> &nbsp; &nbsp;Thulasiram.Jalakam.Kulkarni@biascorp.com</p>
             <p class="description"  style="color:white;"><i class="fa fa-phone" style="font-size:15px;color: #55f32d; "></i>&nbsp; &nbsp; +91-98641212365</p>   
           
             <hr style="width:20%; margin-left:40% !important; margin-right:40% !important;" />
            </div>
           
   
           <div class="col-lg-6 col-md-6" style="border-right: 1px solid #e0e0e0 ; margin-bottom: 10px;" >
                    <p class="description" style="color:white;">
                        &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; <i class="fa fa-check-circle" style="font-size:16px;color: #55f32d; "></i>&nbsp;&nbsp; BC316
                       </p>
                </div>
                <div class="col-lg-6 col-md-6"  style="margin-bottom: 10px;">
                    <p class="description" style=" text-align: left; color:white;">
                        &nbsp; &nbsp;&nbsp; &nbsp;<i class="fa fa-map-marker" style="font-size:20px;color: #55f32d; "></i>&nbsp;&nbsp; Bangalore
                       </p>
                </div>

          </div>
          
          <hr style="width:50%; margin-left:25% !important; margin-right:25% ; background-color: azure;" />
     
          <div class="row">
            <div class="col-lg-12 col-md-6 col-6 ml-auto" style="text-align: center;"><i class="fa fa-home" style="font-size:28px;color: #55f32d;"></i></div>
            <div class="col-lg-12 col-md-6 col-6 ml-auto" style="text-align: center;">
             <p class="description"  style="margin-bottom: 5px; color:white;"> Iris Watson
                P.O. Box 283 8562 Fusce Rd.
                Frederick Nebraska 20620
                (372) 587-2335
             </p>
            <!-- <button   title="Hello">Action</button> -->
            </div>
         

          </div>


          
        </div>



        <div class="card-footer">
            <hr style="width:50%; margin-left:25% !important; margin-right:25% ; background-color: azure;" />
          <div class="button-container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-6 ml-auto mr-auto" style="border-right: 1px solid #e0e0e0 ;">
                    <h5 style="color:white;"><small>Department</small>
                        <br>
                       Infrastructure
                    </h5>
                  </div>
             
             
             
                <div class="col-lg-6 col-md-6 col-6 ml-auto" >
                <h5 style="color:white;"><small>Manager</small>
                    <br>
                   Bob Marley
                </h5>
              </div>
              
              
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="card">
        <div class="card-header">
          <h4 class="card-title">Team Members</h4>
        </div>
        <div class="card-body">
          <ul class="list-unstyled team-members">
            <li>
              <div class="row">
                <div class="col-md-2 col-2">
                  <div class="avatar">
                    <img src="assets/img/faces/ayo-ogunseinde-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                  </div>
                </div>
                <div class="col-md-7 col-7">
                  DJ Khaled
                  <br />
                  <span class="text-muted">
                    <small>Offline</small>
                  </span>
                </div>
                <div class="col-md-3 col-3 text-right">
                  <button class="btn btn-sm btn-outline-success btn-round btn-icon"><i class="fa fa-envelope"></i></button>
                </div>
              </div>
            </li>
            <li>
              <div class="row">
                <div class="col-md-2 col-2">
                  <div class="avatar">
                    <img src="assets/img/faces/joe-gardner-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                  </div>
                </div>
                <div class="col-md-7 col-7">
                  Creative Tim
                  <br />
                  <span class="text-success">
                    <small>Available</small>
                  </span>
                </div>
                <div class="col-md-3 col-3 text-right">
                  <button class="btn btn-sm btn-outline-success btn-round btn-icon"><i class="fa fa-envelope"></i></button>
                </div>
              </div>
            </li>
            <li>
              <div class="row">
                <div class="col-md-2 col-2">
                  <div class="avatar">
                    <img src="assets/img/faces/clem-onojeghuo-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                  </div>
                </div>
                <div class="col-ms-7 col-7">
                  Flume
                  <br />
                  <span class="text-danger">
                    <small>Busy</small>
                  </span>
                </div>
                <div class="col-md-3 col-3 text-right">
                  <button class="btn btn-sm btn-outline-success btn-round btn-icon"><i class="fa fa-envelope"></i></button>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div> -->
    </div>
    <div class="col-md-6">
     
      <mycalendar></mycalendar>
      <app-raise-request></app-raise-request>
    </div> 
  </div>
  

  
  <ng-template #EditEmployeeDetail let-modal>
    <div class="card card-user">
      <div class="card-header">
        <h5 class="card-title">Edit Profile</h5>
      </div>
      <div class="card-body">
        <form>
          <div class="row">
            <div class="col-md-4 pr-1">
              <div class="form-group">
                <label>Employee ID</label>
                <input type="text" class="form-control" disabled="" placeholder="Employee ID" value="">
              </div>
            </div>
            <div class="col-md-4 pr-1">
              <div class="form-group">
                <label>POD ID</label>
                <input type="text" disabled="" class="form-control" placeholder="POD ID" value="">
              </div>
            </div>
            <div class="col-md-4 pl-1">
              <div class="form-group">
                <label>Manager ID</label>
                <input type="text" disabled="" class="form-control" placeholder="Manager ID" value="">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 pl-1">
              <div class="form-group">
                <label>Employee Name</label>
                <input type="text" class="form-control" placeholder="Employee Name" value="">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 pl-1">
              <div class="form-group">
                <label for="exampleInputEmail1">Email ID</label>
                <input type="email" class="form-control" placeholder="Email">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Manager Name</label>
                <input type="text" disabled="" class="form-control" placeholder="Manager Name" value="">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Contact Number</label>
                <input type="text" class="form-control" placeholder="Contact Number" value="">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Alternate Contact Number</label>
                <input type="text" class="form-control" placeholder="Alternate Contact Number" value="">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4 pr-1">
              <div class="form-group">
                <label>City</label>
                <input type="text" class="form-control" placeholder="City" value="">
              </div>
            </div>
            <div class="col-md-4 pr-1">
              <div class="form-group">
                <label>District</label>
                <input type="text" class="form-control" placeholder="District" value="">
              </div>
            </div>
            <div class="col-md-4 pr-1">
              <div class="form-group">
                <label>State</label>
                <input type="text" class="form-control" placeholder="State" value="">
              </div>
            </div>
            <div class="col-md-4 pl-1">
              <div class="form-group">
                <label>Country</label>
                <input type="text" class="form-control" placeholder="Country" value="Australia">
              </div>
            </div>
            <div class="col-md-4 pl-1">
              <div class="form-group">
                <label>Postal Code</label>
                <input type="text" class="form-control" placeholder="ZIP Code">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Office Location</label>
                <input type="text" class="form-control" placeholder="Office Location">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="update ml-auto mr-auto">
              <button type="submit" class="btn btn-primary btn-round">Update Profile</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </ng-template>
</body>
</html>
<!-- <full-calendar #calendar [options]="calendarOptions"></full-calendar> -->